// font-size for the layout

$fs-xlg: 5.4rem;
$fs-lg: 4.3rem;
$fs-md: 3.3rem;
$fs-mmd: 2.8rem;
$fs-smd: 1.8rem;
$fs-sm: 1.6rem;

// colors
$veryDarkBlue: #040227;
$alphaDarkBlue: rgba(#040227, 0.8);
$pastelOrange: #f3aa44;
$veryLightGray: #f0f0f0;
